p {}

html,
body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    background-color: black;
    height: 100%;
    text-align: center;
    overflow: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#introDiv {
    height: 30%;
    background-color: #f2f2f2;
    border: 1px red solid;
}

#quizDiv {
    height: 40%;
    background-color: #b6b6b6;
    border: 1px green solid;
    padding-top: 0px;
    text-align: center;
}

#quizDiv ul {
    margin: 0 auto;
    text-align: justify;
    width: 40%;
}

#quizDiv li {
    list-style-type: none;
}

.submit {
    padding: 10px;
    margin: 20px;
}

#resultsDiv {
    height: 30%;
    background-color: #8a8a8a;
    border: 1px blue solid;
}

#introDiv,
#quizDiv,
#resultsDiv {
    padding: 10px;
}
